<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>greenspace</display-name>
  <welcome-file-list>
    <welcome-file>LoginServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateLocationServlet</display-name>
    <servlet-name>CreateLocationServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.CreateLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateLocationServlet</servlet-name>
    <url-pattern>/CreateLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListLocationServlet</display-name>
    <servlet-name>ListLocationServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.ListLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListLocationServlet</servlet-name>
    <url-pattern>/ListLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTreeServlet</display-name>
    <servlet-name>CreateTreeServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.CreateTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTreeServlet</servlet-name>
    <url-pattern>/CreateTreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTreeServlet</display-name>
    <servlet-name>ListTreeServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.ListTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTreeServlet</servlet-name>
    <url-pattern>/ListTreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSeedServlet</display-name>
    <servlet-name>ListSeedServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.ListSeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSeedServlet</servlet-name>
    <url-pattern>/ListSeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSeedServlet</display-name>
    <servlet-name>CreateSeedServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.CreateSeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSeedServlet</servlet-name>
    <url-pattern>/CreateSeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTreePlantedServlet</display-name>
    <servlet-name>CreateTreePlantedServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.CreateTreePlantedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTreePlantedServlet</servlet-name>
    <url-pattern>/CreateTreePlantedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTreePlantedServlet</display-name>
    <servlet-name>ListTreePlantedServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.ListTreePlantedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTreePlantedServlet</servlet-name>
    <url-pattern>/ListTreePlantedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTreeHarvestedServlet</display-name>
    <servlet-name>CreateTreeHarvestedServlet</servlet-name>
    <servlet-class>org.rw.greenspace.web.CreateTreeHarvestedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTreeHarvestedServlet</servlet-name>
    <url-pattern>/CreateTreeHarvestedServlet</url-pattern>
  </servlet-mapping>
</web-app>